@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

::selection {
  background-color: rgba(6, 182, 212, 0.3);
  color: #22d3ee;
}
